a:hover {
    text-decoration: none;
}

.Main_bg_color{
    background-color: #131722;
}

.navIcon{
    margin: 0 6px;
    color: #fff;
    cursor: pointer;
}

.navIcon:hover{
    color: #0062cc;
}

.NavBar_logo{
    font-weight: 800;
}

.Navbar_border{
    border-bottom: 1px solid #aaacb1;
    height: 50px;
}

.logOut{
    border: none;
    background: none;
}

@media screen and (max-width: 1091px){
    .navbar_nav{
        flex-direction: row !important;
    }
}